NEXT_PUBLIC_APP_NAME="Swaasth Saathi (स्वास्थ्य साथी)"
NEXT_PUBLIC_KIOSK_ID="KIOSK-AYUSH-OPD-01"
NEXT_PUBLIC_HOSPITAL_NAME="State AYUSH Central Hospital"
NEXT_PUBLIC_DEMO_MODE="true"
NEXT_PUBLIC_API_BASE_URL="http://localhost:3000/api"
